<div class="bg-[#181C28] py-4">
  <span class="ml-4 text-white font-medium text-lg"
    >Những tựa sách được đề xuất</span
  >
</div>

<div class="">
  <div class="bg-white py-2 px-4 pb-8">
    <button
      class="py-1 px-3 mr-3 font-semibold text-[#e85a4f] text-xl border-b-2 border-[#e85a4f] border-solid"
    >
      Văn học
    </button>
    <button class="py-1 px-3 mr-3 text-[#8E8D8A]">Kinh tế</button>
    <button class="py-1 px-3 mr-3 text-[#8E8D8A]">Tâm lý - Kỹ năng sống</button>
    <button class="py-1 px-3 mr-3 text-[#8E8D8A]">Thiếu nhi</button>
    <button class="py-1 px-3 mr-3 text-[#8E8D8A]">Sách học ngoại ngữ</button>
    <button class="py-1 px-3 mr-3 text-[#8E8D8A]">Foreign books</button>
  </div>
  <div class="flex w-full bg-white">
    <div class="w-[40%] border-r border-solid">
      <div
        class="flex items-center ml-4 mb-2 border-r border-solid border-[#e85a4f] cursor-pointer"
      >
        <img
          src="../../../assets/book-recomend/8935325006289.jpg"
          alt="Tô Bình Yên Vẽ Hạnh Phúc"
          class="h-[100px] w-[100px] object-cover"
        />
        <div class="ml-2">
          <span class="font-medium">Tô Bình Yên Vẽ Hạnh Phúc</span>
          <span class="block text-[#8E8D8A]">Kulzsc</span>
        </div>
      </div>

      <div class="flex items-center ml-4 mb-2 cursor-pointer">
        <img
          src="../../../assets/book-recomend/tron-tren-mai-nha-de-khoc.jpg"
          alt="Trốn Lên Mái Nhà Để Khóc"
          class="h-[100px] w-[100px] object-cover"
        />
        <div class="ml-2">
          <span class="font-medium">Trốn Lên Mái Nhà Để Khóc</span>
          <span class="block text-[#8E8D8A]">Lam</span>
        </div>
      </div>

      <div class="flex items-center ml-4 mb-2 cursor-pointer">
        <img
          src="../../../assets/book-recomend/ghi-chep-phap-y-2.jpg"
          alt="Ghi Chép Pháp Y - Những Thi Thể Không Hòa Chỉnh"
          class="h-[100px] w-[100px] object-cover"
        />
        <div class="ml-2">
          <span class="font-medium"
            >Ghi Chép Pháp Y - Những Thi Thể Không Hoàn Chỉnh</span
          >
          <span class="block text-[#8E8D8A]">Lưu Bát Bách</span>
        </div>
      </div>

      <div class="flex items-center ml-4 mb-2 cursor-pointer">
        <img
          src="../../../assets/book-recomend/nhung-dua-tre-o-dai-duong-xanh.jpg"
          alt="Đám Trẻ Ở Đại Dương Xanh"
          class="h-[100px] w-[100px] object-cover"
        />
        <div class="ml-2">
          <span class="font-medium">Đám Trẻ Ở Đại Dương Xanh</span>
          <span class="block text-[#8E8D8A]">Châu Sa Đáy Mắt</span>
        </div>
      </div>

      <div class="flex items-center ml-4 mb-2 cursor-pointer">
        <img
          src="../../../assets/book-recomend/ghi-chep-phap-y.jpg"
          alt="Ghi Chép Pháp Y - Những Cái Chết Bí Ẩn"
          class="h-[100px] w-[100px] object-cover"
        />
        <div class="ml-2">
          <span class="font-medium"
            >Ghi Chép Pháp Y - Những Cái Chết Bí Ẩn</span
          >
          <span class="block text-[#8E8D8A]">Lưu Hiểu Huy</span>
        </div>
      </div>
    </div>
    <div class="w-[60%]">
      <div class="flex items-center ml-4 mb-2">
        <img
          src="../../../assets/book-recomend/8935325006289.jpg"
          alt="Tô Bình Yên Vẽ Hạnh Phúc"
          class="h-[240px] w-[240px] object-cover"
        />
        <div class="ml-2">
          <span class="font-bold text-lg">Tô Bình Yên Vẽ Hạnh Phúc</span>
          <span class="block text-sm">Tác giả: Kulzsc</span>
          <span class="block text-sm">Nhà xuất bản: NXB Phụ Nữ Việt Nam</span>
          <span class="block text-lg font-bold">88.000đ</span>
          <span class="font-medium">Tô Bình Yên Vẽ Hạnh Phúc</span>
          <p class="block text-sm">
            Sau thành công của cuốn sách đầu tay “Phải lòng với cô đơn” chàng
            họa sĩ nổi tiếng và tài năng Kulzsc đã trở lại với một cuốn sách vô
            cùng đặc biệt mang tên: "Tô bình yên - vẽ hạnh phúc” – sắc nét phong
            cách cá nhân với một chút “thơ thẩn, rất hiền”. Không giống với
            những cuốn sách chỉ để đọc, “Tô bình yên – vẽ hạnh phúc” là một cuốn
            sách mà độc giả vừa tìm được “Hạnh phúc to to từ những điều nho nhỏ”
            vừa được thực hành ngay lập tức. Một sự kết hợp mới lạ đầy thú vị
            giữa thể loại sá...
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
