<div class="bg-[#EAE7DC] h-screen flex justify-center">
  <div class="w-[1200px]">
    <div class="flex justify-between items-center mb-8">
      <div class="logo flex items-center justify-center cursor-pointer mt-2">
        <a routerLink="/" routerLinkActive="active">
          <img
            src="../../assets/logo-after-remove-bg.png"
            alt="Tiệm sách trong hẻm"
            class="bg-center bg-no-repeat object-cover h-16"
          />
        </a>
      </div>
      <div class="">
        <span class="text-[#8E8D8A] text-lg mr-3">Bạn đã có tài khoản?</span>
        <a
          routerLink="/login"
          routerLinkActive="active"
          class="text-lg text-[#e85a4f] hover:underline cursor-pointer"
          >Đăng nhập</a
        >
      </div>
    </div>

    <div
      class="m-auto w-[1000px] flex justify-center items-center bg-white rounded-xl overflow-hidden"
    >
      <div class="w-[54%] h-2/3">
        <img
          src="../../assets/signup-signin/OIG2 (1).jpg"
          alt=""
          class="w-full"
        />
      </div>
      <div class="w-[46%] p-10 flex items-center flex-col">
        <span
          class="block w-full text-left text-xl font-bold mb-5 text-[#e85a4f]"
          >Đăng Ký</span
        >
        <form action="POST">
          <div class="flex justify-between">
            <div class="input-group mr-5">
              <input
                required=""
                type="text"
                name="text"
                autocomplete="off"
                class="input"
              />
              <label class="user-label">Họ</label>
            </div>

            <div class="input-group">
              <input
                required=""
                type="text"
                name="text"
                autocomplete="off"
                class="input"
              />
              <label class="user-label">Tên</label>
            </div>
          </div>

          <div class="input-group w-full">
            <input
              required=""
              type="email"
              name="text"
              autocomplete="off"
              class="input"
            />
            <label class="user-label">Email</label>
          </div>

          <div class="input-group w-full">
            <input
              required=""
              type="password"
              name="text"
              autocomplete="off"
              class="input"
            />
            <label class="user-label">Password</label>
          </div>

          <button
            class="w-full bg-[#E98074] font-bold text-white p-4 rounded-xl hover:opacity-90"
          >
            Đăng Ký
          </button>
        </form>
      </div>
      <div class="w-[30%] hidden">
        <!-- app-login-component -->
      </div>
    </div>
  </div>
</div>
